$blue: #007bc1;
$darkblue: #004a75;
$orange: #ff8000;
$darkorange: #cc6600;
$smokegrey: #e5e5e5;

$basetextcolor: #333333;

$bgcolor: $smokegrey;

$bpsmall: 480px; 
$bpmedium: 960px; 
$bplarge : 1366px; 

$sitewidth: 1366px; 

$notification_max_width: 720px; 
$hero_max_width: 720px; 
$subscriptionpanel_max_width: 640px; 

